body {
    background-image: url("images/background.jpg");
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 35px;
}

.progress-bar {
    height: 3vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.progress-segment {
    flex: 0 0 10%;
    margin-left: 2vw;
    margin-right: 2vw;
    border: solid;
    border-radius: 5px;
    
}

.page {
    text-align: center;
    margin-top: 2vh;
    padding-left: 20%;
    padding-right: 20%;
    display: none;
}

.page #content1 {
    font-size: 35px;
    margin-top: 10%;
    margin-bottom: 10%;
    /* height: 55vh; */
    padding: 5vh 10vw 5vh 10vw;
    text-align: center;
    line-height: 1.6;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.page #content2 {
    background-color: #FFD55A;
    color: #293250;
    margin-top: 10%;
    /* height: 55vh; */
    padding: 5vh 10vw 8vh 10vw;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    line-height: 1.6;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.page #content3 {
    background-color: #293250;
    margin-top: 10%;
    height: 55vh;
    padding: 5vh 10vw 5vh 10vw;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    line-height: 1.6;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.page #content4 {
    background-color: #6DD47E;
    color: #293250;
    margin-top: 10%;
    /* height: 55vh; */
    padding: 8vh 10vw 8vh 10vw;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    line-height: 1.6;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 15px;
}

.controls img {
    width: auto;
    height: 20vh;
}

.controls #left {
    position: absolute;
    left: 5%;
    top: 45%;
    cursor: pointer;
}

.controls #right {
    position: absolute;
    right: 5%;
    top: 45%;
    cursor: pointer;
}
